<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <h2>Praxedes</h2>&nbsp;&nbsp;&nbsp;
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" routerLink="insertUser" routerLinkActive="active">Ingresar Usuarios</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="getUsers" routerLinkActive="active">Ver Usuarios</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="seeFrequency" routerLinkActive="active">Ver Familiares</a>
            </li>            
        </ul>
    </div>
</nav>
