<h2>Ver Ordenes de Compra</h2>
<br> 
<br><br>   
<div *ngIf="items">    
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">Mes de la orden</th>
                <th scope="col">Día  de la orden</th>
                <th scope="col">Año  de la orden</th>
                <th scope="col">Region</th>
                <th scope="col">Rep</th>
                <th scope="col">Item</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items ">
                <th scope="row">{{ item.orderMonth}}</th>
                <td scope="row">{{ item.orderDay }}</td>
                <td scope="row">{{ item.orderYear }}</td>
                <td scope="row">{{ item.region }}</td>
                <td scope="row">{{ item.rep }}</td>
                <td scope="row">{{ item.item }}</td>
                <td scope="row">{{ item.total }}</td>
            </tr>
        </tbody>
    </table>
    <br><br>       
</div>
